.side-Content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-container {
  min-width: 400px;
  width: 100%;
  margin: auto;
  padding: 15px;
  background: #fff;
  border-radius: 10px;
}
.add-heading {
 width: 300px;
  background-color: #003d5b;
  text-align: center;
  color: #fff;
  padding: 0.6rem 0.8rem;
  margin: auto;
  margin-bottom: 0.6rem;
  border-radius: 50px;
}

.styled-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-row {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.full-width {
  width: 100%;
}

input,
select,
textarea {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

textarea {
  min-height: 80px;
  resize: none;
}
.input-group label {
  color: #003d5b;
  font-weight: 600;
  margin-left: 5px;
}
.submit-btn {
  margin: auto;
  padding: 10px;
  width: 200px;
  padding: 12px;
  background: #003d5b;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.submit-btn:hover {
  background: #30638e;
}
input[type="number"] {
  -moz-appearance: number-input;
  appearance: auto;
}
input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: #003d5b;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  /* -webkit-appearance: none; */
  margin: 0;
}
.submit-btn:disabled{

    background-color: #7a9fbf; 
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none; 
}

#rating{
    -moz-appearance: number-input; 
    appearance: auto;
    -webkit-appearance: inner-spin-button;
    margin: initial;
}

