@media (max-width: 800px) {
    .side-Content{
      width: 100%;
      left: 0;
    }
    .disable{
      display: none;
    }
    .toggle-close,.toggle-btn{
      display: block;
    }
    .nav-menu{
      position: fixed;
      left: -10rem;
      top: 0;
      height: 100vh;
      width: 10rem;
      background-color: #003d5b;
      display: flex;
      padding-top: 4rem;
      transition: left 0.3s ease-in-out;
    }
    .nav-menu.right{
      left: 0;
    }
    .sidebar{
      width: 100%;
      height: 5rem;
      flex-direction: row;
      justify-content: space-between;
      position: fixed;
      top: 0;
    }
    .sidebar-header{
      margin: 0;
      padding: 0;
    }
    .sidebar-header-img{
      width: 3rem;
      height: 3rem;
      margin: 7px;
    }
    .side-Content{
        width: 100%;
        margin-top: 5rem;
    }
  }